.list {
    list-style: none;
    &__item {
        &:not(:last-of-type) {
            // margin-bottom: 2rem;
            border-bottom: 1px solid $color-grey;
        }
    }
    &__link {
        display: block;
        padding: 1.5rem 0;
        text-decoration: none;
        color: inherit;
        &:hover {
            color: $color-primary;
        }
    }
}