.footer {
    font-size: 1.3rem;
    text-transform: capitalize;
    &__links {
        list-style: none;
    }
    &__list {
        margin-bottom: .8rem;
    }
    &__link {
        text-decoration: none;
        color: inherit;
        padding: 2rem 0;
        &:hover {
            color: $color-primary;
        }
    }
    &__icon {
        width: 2rem;
        height: 2rem;
        &:not(:last-of-type) {
            margin-right: 1rem;
        }
    }
}